name: Build Android APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04 # 保持 22.04 最稳
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.5.0'
          target: 'android'
          arch: 'android_arm64_v8a'

      - name: Build APK
        run: |
          mkdir build
          cd build
          
          # 直接定位 Host Qt 路径
          # 就在刚才下载的 Qt 目录下的 gcc_64
          QT_HOST=${{ github.workspace }}/Qt/6.5.0/gcc_64
          
          # 极简编译命令
          qt-cmake .. -DQT_HOST_PATH=$QT_HOST
          cmake --build . --parallel
          
          find . -name "*.apk" -exec cp {} ../app-release.apk \;

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-App
          path: app-release.apk
